@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "@heroui/styles"; 



@font-face {
  font-family: 'Patung';
  src: url('/font/Patung.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary: #007D9C;
  --footer: #00565F;
  --second-bg: #E8E8E8;
  --heading-color: #122B45;
}

@theme inline {
  --color-primary: #007D9C;
  --color-footer: #00565F;
  --color-second-bg: #E8E8E8;
  --color-hand-font: #76FFF2;
  --color-heading: #122B45;
  --font-pat: "Patung", sans-serif;
}

body {
  height: 100%;
  width: 100%;
  font-family: var(--font-inter-tight);
  background-color: #fff !important;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #0066cc;
}


.wrapper {
  max-width: 85vw;
  margin: 0 auto;
}

@layer utilities {
  h2 {
    @apply text-[35px] lg:text-[3.4vw] font-medium leading-none lg:leading-[3.5vw];
  }

  h3 {
    @apply text-[28px] lg:text-[2vw] font-medium leading-9 lg:leading-[2.5vw] mb-4 lg:mb-[1.3vw]
  }

  h4 {
    @apply text-[19px] lg:text-[1.5vw] font-medium leading-none lg:leading-[2vw]
  }

  h6 {
    @apply text-[18px] lg:text-[1.1vw] font-medium leading-none
  }

  h5 {
    @apply text-[20px] lg:text-[1.3vw]
  }

  p {
    @apply text-[16px] lg:text-[1vw] opacity-50 font-light
  }

  h1 span {
    @apply text-[70px] lg:text-[7vw]
  }

  span {
    @apply text-[14px] lg:text-[.9vw]
  }

  a {
    @apply text-[14px] lg:text-[1vw] font-medium cursor-pointer
  }

  button {
    @apply cursor-pointer
  }

  input, textarea, select, option {
    @apply text-[12px] lg:text-[.8vw] focus:border-primary! shadow-none! py-2 px-3 lg:p-[.7vw]!
  }

  label {
    @apply text-[14px] lg:text-[1vw]
  }

  input::placeholder {
    color: #00000089;
  }
}

.d_card::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
  width: 200px;
  background-image: url('/svg/paw-light.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
  mix-blend-mode: color-burn;
}

.hero-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #00000046;
  z-index: 1;
}

h2,
p {
  margin-bottom: 1vw;
}

select {
  background-image: none !important; /* hide browser arrow */
  cursor: pointer;
}
select option {
  color: #191919;
  background: #fff;
  border: none !important;
}
select:focus option:checked {
  background: var(--primary);
  color: #fff;
}
select option:hover { 
  background: var(--primary) !important;
  color: #fff;
}

.home-slider .swiper-horizontal>.swiper-pagination-bullets,
.home-slider .swiper-pagination-bullets.swiper-pagination-horizontal {
  display: flex !important;
  flex-direction: column !important;
  gap: 1.9vw !important;
  top: 20vw !important;
  left: 95vw !important;
}

.home-slider .swiper-pagination-bullet {
  background-color: #fff !important;
  opacity: 1 !important;
  margin-left: 0.95vw !important;
  height: 0.5vw;
  width: 0.5vw;
}

.home-slider .swiper-pagination-bullet-active {
  margin-left: 0 !important;
  border: 1vw solid #686d61 !important;
  height: 2.4vw !important;
  width: 2.4vw !important;
}

.article-swiper .swiper-pagination-bullet {
  border: 1px solid var(--primary);
  color: #000 !important;
  width: 40px !important;
  height: 40px !important;
  padding: 8px !important;
  background-color: transparent;
  opacity: 1;
}

.article-swiper .swiper-pagination-bullet-active {
  background-color: var(--primary);
  color: #fff !important;
}

.dotted-border {
  position: relative;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
}

.dotted-border::before,
.dotted-border::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  border-left: 2px dashed #00000026;
}

.dotted-border::before {
  left: 0;
}

.dotted-border::after {
  right: 0;
}

.dotted-border:nth-child(2)::before,
.dotted-border:nth-child(3)::before,
.dotted-border:nth-child(4)::before {
  display: none;
}

@media (max-width: 992px) {
  .home-slider .swiper-pagination-bullet {
    display: none !important;
  }

  .wrapper {
    max-width: 90vw;
    margin: 0 auto;
  }

  .dotted-border::before,
  .dotted-border::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    border-top: 2px dashed #00000026;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
